<div class="register-wrapper">
    <form class="register-body" [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <h3 class="register-title">Cadastro</h3>
        <div>
            <label for="name">Nome</label>
            <span *ngIf="nameControl?.dirty && !nameControl?.valid" class="register-error">Preecha o Nome</span>
        </div>
        <input type="text" id="name" name="name" formControlName="name">
        <div>
            <label for="email">Email</label>
            <span *ngIf="emailControl?.dirty && emailControl?.errors?.['required']" class="register-error">Preecha o email</span>
            <span *ngIf="emailControl?.dirty && emailControl?.errors?.['email']" class="register-error">Email incorreto</span>
        </div>
        <input type="email" id="Email" name="email" formControlName="email">
        <div>
            <label for="password">Senha</label>
            <span *ngIf="passwordControl?.dirty && !passwordControl?.valid" class="register-error">Preecha a Senha</span>
        </div>
        <input type="password" id="password" name="password" formControlName="password">
        <div>
            <label for="repeat">Repitir senha</label>
            <span *ngIf="repeatControl?.dirty && editForm.errors?.['missMatchPassword']" class="register-error">Senhas devem coincidir</span>
        </div>
        <input type="password" id="repeat" name="repeat" formControlName="repeat">
        <div class="d-flex justify-content-center">
            <button class="register-button secondary" type="button" (click)="navigateBack()">Voltar</button>
            <button class="register-button" type="submit" [disabled]="!editForm.valid">Cadastrar</button>
        </div>
    </form>
</div>