.register-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-title {
    font-size: 1.75rem;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
}

.register-body {
    background: #ffffff;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.register-body > input {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.register-error {
    font-size: 0.7rem;
    color: red;
    float: right;
}

.register-fail {
    color: red;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid red;
    border-radius: 8px;
}

.register-anchor {
    color: #000000aa;
    align-self: center;
    margin-top: 0.5rem;
}

.register-button {
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    background: var(--primary-color);
    color: black;
    transition: 0.3s;
}

.secondary {
    background: var(--secondary-color);
}

.register-button :active {
    background: var(--secondary-color);
}

.register-button :disabled {
    background: #f1f1f1;
}